/*DD6E42: orangy*/
/*E8DAB2: beige*/
/*4F6D7A: dark blue*/
/*C0D6DF: light blue*/
/*EAEAEA: silvery grey*/
body {
  background-color: #E8DAB2;
}

footer {
  margin-top: 100px;
  color: #DD6E42;
  opacity: 0.5;
}

main {
  text-align: center;
  line-height: 1.6;
}

main p {
  color: #4F6D7A;
}

main h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #DD6E42;
}

* {
  font-family: 'Neucha';
}

header h3 {
  opacity: 0.6;
  font-style: italic;
  margin-top: 1px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #DD6E42;
  margin-bottom: 5px;
  margin-top: 5px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #4F6D7A;
}

.nestedTable table tr td {
  border: 5px solid #C0D6DF;
  text-align: center;
  color: #DD6E42;
}

#aboutMe button {
  padding: 250px 18px;
  margin: 4px 2px;
  border: none;
  background-color: #DD6E42;
  color: #EAEAEA;
}

#home button {
  padding: 250px 30px;
  margin: 4px 2px;
  border: none;
  background-color: #DD6E42;
  color: #EAEAEA;
}

#homeButton button {
  margin-bottom: 1px;
  margin-top: 5px;
  border: none;
  background-color: #DD6E42;
  color: #EAEAEA;
}

#learnMore {
  border: 7px;
  border-style: double;
  padding-left: 40px;
  margin-top: 20px;
  line-height: 1.6;
  border-color: #C0D6DF;
  color: #DD6E42;
}

#learnMore p {
  color: #4F6D7A;
}

a:link {
  color: #000000;
}

a:visited {
  color: #4F6D7A;
}

a:hover {
  color: #DD6E42;
}
