body {
  background-color: #b3e4ff;
}

#learnMore{
  border-style: double;
  padding-left: 40px;
  margin-top: 20px;
}

footer{
  margin-top: 100px;
}

.questions{

}

*{
  font-family: 'Neucha';
}

header{
  opacity: 0.6;
  font-style: italic;
}
