<%- include('global/header', {title: "Home", blog_array: blog_array}); %>

<!-- media row -->
  <div class="row">
    <!-- photo -->
    <div class="col s4">
      <h3> An Iconic Event </h3>
      <img src="images/image2.jpg" alt="Tightrope walking">
      <figcaption>Tightrope Walking Across the Twin Towers</figcaption>
    </div>

    <!-- video -->
    <div class="col s4">
      <h3> Summer 2020 </h3>
      <iframe width="375" height="315" src="https://www.youtube.com/embed/rYTNO_WtNys">
      </iframe>
      <figcaption>New York City In Quarantine by the New Yorker</figcaption>
    </div>

    <!-- audio -->
    <div class="col s4">
      <h3> An Iconic Song </h3>
      <iframe src="https://open.spotify.com/embed/track/5Uf0llmR4IIkyOzkgINbL5" width="320" height="315" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <figcaption>Englishman in New York by the Sting</figcaption>
    </div>
  </div>

</body>

<%- include('global/footer'); %>

</html>
